/* ! ======== ! */
/* ! IMPORTES ! */
/* ! ======== ! */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

/* ! ======== ! */
/* ! RESETING ! */
/* ! ======== ! */
* {
    font-family: 'Exo', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.footer__container {
    z-index: 10;
}

.footer__container a {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* ! ====== ! */
/* ! FOOTER ! */
/* ! ====== ! */

.footer {
    display: block;
    background-color: #323232;
    width: 100%;
    height: 140px;
    bottom: 0%;
    color: #f6f6f6;
    bottom: 0%;
    padding-block: 10px;
}

.footer__container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
}

/* ! ==== ! */
/* ! LOGO ! */
/* ! ==== ! */
.footer__container .logo {
    height: 120px;
}

.footer__container .logo img {
    height: 100%;
    border-radius: 100%;
}

/* ! ======== ! */
/* ! CREATORS ! */
/* ! ======== ! */

.footer__container .creators {
    width: fit-content;
    font-size: 24px;
}

/* ! ================== ! */
/* ! ENLACES DE INTERES ! */
/* ! ================== ! */
.footer__container .enlaces {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.footer__container .enlace {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.footer__container .enlaces a {
    color: #f6f6f6;
    font-size: 20px;
}

.footer__container .enlaces a::after {
    content: '';
    display: block;
    height: 2px;
    width: 30%;
    margin-top: 2px;
    background-color: #f6f6f6;
    border-radius: 0 40px 40px 0;
}

/* ! ============== ! */
/* ! REDES SOCIALES ! */
/* ! ============== ! */

.footer__container .redes__sociales {
    display: flex;
    gap: 40px;
}

.footer__container .redes__sociales a:nth-of-type(1):hover {
    color: #049ff3;
    transition: color 100ms ease-in;
}

.footer__container .redes__sociales a:nth-of-type(2):hover {
    background: -webkit-linear-gradient(12deg, rgba(249, 206, 52, 1) 0%, rgba(238, 42, 123, 1) 35%, rgba(98, 40, 215, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer__container .redes__sociales a:nth-of-type(3):hover {
    color: #3d5a98;
    transition: color 100ms ease-in;
}

.footer__container .redes__sociales a {
    font-size: 40px;
    color: #f6f6f6;
}

/* ! ============= ! */
/* ! TAMAÑO TABLET ! */
/* ! ============= ! */
@media (768px <= width <= 1024px) {
    .footer {
        height: 100px;
    }
    
    .footer__container .logo {
        height: 80px;
    }
    
    .footer__container * {
        font-size: 10px;
    }
}