body {
    margin: 0;
    padding: 0;
}

.footer {
    z-index: 10;
}

.footer a {
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

a {
    text-decoration: none;
}

/* ! ====== ! */
/* ! FOOTER ! */
/* ! ====== ! */

.footer {
    display: block;
    background-color: #323232;
    width: 100%;
    height: fit-content;
    bottom: 0%;
    color: #f6f6f6;
    bottom: 0%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: fit-content;
    gap: 20%;
    align-items: center;
    justify-content: center;
}

.creators {
    width: fit-content;
    font-size: 20px;
}

.redes__sociales {
    display: flex;
    gap: 40px;
}

.redes__sociales a {
    font-size: 40px;
    color: #f6f6f6;
}

.contacto a{
    font-size: 40px;
    color: #f6f6f6;
}

.contacto::after {
    content: "";
    display: block;
    background-color: #f6f6f6;
    width: 60%;
    height: 3px;
    top: 0%;
    margin: 0 14px;
    border-radius: 40px;
}
