:root {
    --body-bg-color: #eff1f3;
    --header-bg-color: #d5d9e6;
    --xbox-juegos-bg: #1a1b1e;
    --main-xbox-color: #52b043;
    --main-nintendo-color: #dd2020;
    --font-color-black: #353535;
    --blanco-sucio: #f8f8f8;
}
