/* ! ======== ! */
/* ! IMPORTES ! */
/* ! ======== ! */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

/* ! ======== ! */
/* ! RESETING ! */
/* ! ======== ! */

body {
    margin: 0;
    padding: 0;
}

.header {
    z-index: 10;
}

.header a {
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

a {
    text-decoration: none;
}

/* ! ====== ! */
/* ! HEADER ! */
/* ! ====== ! */

.header {
    height: 6.25em;
    background-color: #e8ebf7;
    display: block;
    position: sticky;
    top: 0%;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    gap: 60px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.menu img {
    height: 5rem;
    border-radius: 100%;
}

.lista {
    display: flex;
    gap: 60px;
    align-items: center;
}

.lista * {
    position: relative;
    color: #353535;
    font-size: 1.18em;
    font-weight: bold;
    padding: 4px;
}

.desplegable .fa-bars {
    display: none;
}

/* ! ================== ! */
/* ! Animaciones navbar ! */
/* ! ================== ! */

.desplegable:hover .fa-chevron-down {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.lista *:hover {
    cursor: pointer;
}

.desplegable:nth-of-type(2):hover > a,
.desplegable:nth-of-type(2):hover i:first-of-type {
    color: #2ca243;
    transition: color 0.2 ease-in-out;
}

.desplegable:nth-of-type(3):hover > a,
.desplegable:nth-of-type(3):hover i:first-of-type {
    color: #dd2020;
    transition: color 0.2 ease-in-out;
}

.enlace::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #353535;
    transition: width 300ms;
}

.enlace:hover::after {
    width: 100%;
}

/* ! ================ ! */
/* ! Menú desplegable ! */
/* ! ================ ! */

.desplegable {
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #e8ebf7;
    min-width: 160px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
    z-index: 3;
    margin-top: 2px;
    border-radius: 12px;
}

.dropdown_content a {
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: justify;
    border-radius: 12px;
}

.desplegable:nth-of-type(2) .dropdown_content a:hover {
    background-color: #f1f1f1;
    color: #2ca243;
}

.desplegable:nth-of-type(3) .dropdown_content a:hover {
    background-color: #f1f1f1;
    color: #dd2020;
}

.desplegable:hover .dropdown_content {
    display: block;
    z-index: 2;
}

/* ! ============= ! */
/* ! TAMAÑO TABLET ! */
/* ! ============= ! */
@media (768px <= width <= 1024px) {
    .menu img {
        height: 4rem;
    }

    .lista {
        gap: 10px;
    }

    .lista * {
        font-size: 1em;
        padding: 4px;
    }
}
