/* ======= */
/* FUENTES */
/* ======= */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

/* ======== */
/* RESETING */
/* ======== */

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
}

a {
    text-decoration: none;
}

/* ====== */
/* HEADER */
/* ====== */

.header {
    height: 100px;
    background-color: #E8EBF7;
    display: block;
    position: sticky;
    top: 0%;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    gap: 60px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.menu img{
    height: 80px;
    border-radius: 100%;
}

.lista {
    display: flex;
    gap: 60px;
    align-items: center;
}

.enlace *{
    color: #353535;
    font-size: 24px;
    font-weight: bold;
    margin: 4px;
}

.enlace:hover i {
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
}

.enlace:hover {
    cursor: pointer;
}

 .enlace:nth-child(2):hover *{
    color: #00439C;
    transition: color .2 ease-in-out;
}

.enlace:nth-child(3):hover *{
    color: #2ca243;
    transition: color .2 ease-in-out;
}

.enlace:nth-child(4):hover *{
    color: #dd2020;
    transition: color .2 ease-in-out;
}
