/* ======== */
/* IMPORTES */
/* ======== */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

/* ! ======== ! */
/* ! RESETING ! */
/* ! ======== ! */
body * {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

.cuerpo * {
    z-index: 1;
}

a {
    text-decoration: none;
}

button {
    background-color: none;
    border: none;
}

/* ! ======== ! */
/* ! SELECTOR ! */
/* ! ======== ! */

.consolas {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.consolas * {
    margin: auto;
}

.selector_consolas {
    margin: 40px;
    position: absolute;
    z-index: 4;
}

.selector_consolas ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 200px;
}

.selector_consolas p {
    color: #fafafa;
    background-color: none;
    font-size: 24px;
    font-weight: bold;
}

li:nth-of-type(1) p:hover {
    color: #2ca243df;
}

li:nth-of-type(2) p:hover {
    color: #00439cdf;
}

li:nth-of-type(3) p:hover {
    color: #dd2020df;
}

.selector_consolas p:hover {
    cursor: pointer;
}

.selector_consolas li p::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fafafa;
    transition: width 300ms;
    margin: 0 auto;
}

.selector_consolas li p:hover::after {
    width: 100%;
}

/* ! ====== ! */
/* ! VIDEOS ! */
/* ! ====== ! */

.consola {
    opacity: 0;
    display: none;
    position: relative;
}

.active {
    width: 100%;
    position: absolute;
    display: block;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.active video {
    width: 100%;
}

/* ! ==== ! */
/* ! IR A ! */
/* ! ==== ! */

#xbox .goto {
    position: absolute;
    bottom: 15%;
    left: calc(50% - 150px);
    font-size: 40px;
    font-weight: bold;
    background-color: #2ca24300;
    transition: background-color 200ms ease-in;
    padding: 40px;
    border-radius: 20px;
}

#xbox .goto:hover {
    background-color: #2ca243;
}

#ps .goto {
    position: absolute;
    bottom: 15%;
    left: calc(50% - 210px);
    font-size: 40px;
    font-weight: bold;
    background-color: #00439c00;
    transition: background-color 200ms ease-in;
    padding: 40px;
    border-radius: 20px;
}

#ps .goto:hover {
    background-color: #00439c;
}

#nintendo .goto {
    position: absolute;
    bottom: 15%;
    left: calc(50% - 190px);
    font-size: 40px;
    font-weight: bold;
    background-color: #dd202000;
    transition: background-color 200ms ease-in;
    padding: 40px;
    border-radius: 20px;
}

#nintendo .goto:hover {
    background-color: #dd2020;
}

.goto:hover {
    border: 1px solid #353535;
    cursor: pointer;
}

.goto a {
    color: white;
}
