/* ! ======== ! */
/* ! IMPORTES ! */
/* ! ======== ! */
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

/* ! ======== ! */
/* ! RESETING ! */
/* ! ======== ! */
body * {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
}

.cuerpo * {
    z-index: 1;
}

a {
    text-decoration: none;
}

button {
    background-color: none;
    border: none;
}
/* ! ======== ! */
/* ! SELECTOR ! */
/* ! ======== ! */

.consolas {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.consolas * {
    margin: auto;
}

.selector_consolas {
    margin: 40px;
    position: absolute;
    z-index: 4;
}

.selector_consolas ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 200px;
}

.selector_consolas p {
    color: #fafafa;
    background-color: none;
    font-size: 24px;
    font-weight: bold;
}

.selector_consolas p:hover {
    cursor: pointer;
}

.selector_consolas li p::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fafafa;
    transition: width 300ms;
    margin: 0 auto;
}

.selector_consolas li p:hover::after {
    width: 100%;
}

/* ! ====== ! */
/* ! VIDEOS ! */
/* ! ====== ! */

.consola {
    opacity: 0;
    display: none;
    position: relative;
    height: 100vh;
}

.active {
    width: 100%;
    position: absolute;
    display: block;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.active video {
    width: 100%;
}

/* ! ==== ! */
/* ! IR A ! */
/* ! ==== ! */

.goto {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: 2.4em;
    border-radius: 14px;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    transition-property: background-color, border;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

#xbox .goto:hover {
    background-color: #134d13;
    border: 1px solid #134d13;
    cursor: pointer;
}

#nintendo .goto:hover {
    background-color: #dd2020;
    border: 1px solid #dd2020;
    cursor: pointer;
}

.goto a {
    color: white;
}
