/* 
    ! =============== ! 
    ! FUENTES Y RESET ! 
    ! =============== ! 
*/
@import url('generic.css');

/* ! ====== ! */
/* ! CUERPO ! */
/* ! ====== ! */

.cuerpo {
    min-height: calc(100vh - 6.25em);
    margin-bottom: -12px;
    position: relative;
}

.cuerpo > img:first-of-type {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ! ================== ! */
/* ! TARJETAS CONTAINER ! */
/* ! ================== ! */

.bloques_container {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    gap: 1vw;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
}

.bloques_container img {
    width: 160px;
    height: auto;
}

/* ! ======== ! */
/* ! COLUMNAS ! */
/* ! ======== ! */

.columna_container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    gap: 4vh;
}

/* ! ======== ! */
/* ! TARJETAS ! */
/* ! ======== ! */

.card {
    width: 444px;
    height: 250px;
    position: relative;
    border-radius: 12px;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 4;
}

.fa-caret-down {
    position: absolute;
    color: #fafafa;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    bottom: -2.2vh;
    z-index: -1;
    color: #161616;
}

.columna_container > img:hover {
    box-shadow: 0px 0px 100px #ffd166;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 12px;
    z-index: 4;
    border: 2px solid #161616;
}

.card a {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2vh;
    font-weight: bold;
    color: #fafafa;
    text-shadow: 1px 2px #161616;
}

.card a::after {
    content: '';
    background-color: #fafafa;
    width: 72%;
    height: 2px;
    display: block;
}

/* ! ============ ! */
/* ! ACTION CLASS ! */
/* ! ============ ! */
.activo {
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

/* ! ========== ! */
/* ! MARIO BROS ! */
/* ! ========== ! */
@keyframes mario {
    0% {
        left: 0;
        bottom: 16%;
    }
    40% {
        left: 40%;
        bottom: 16%;
    }
    48% {
        left: 48%;
        bottom: 30%;
    }
    55% {
        left: 55%;
        bottom: 16%;
    }
    100% {
        left: 96%;
        bottom: 16%;
    }
}

.mario_bros {
    bottom: 16%;
    max-height: 6.25rem;
    width: auto;
    position: absolute;
    left: 0%;
    animation: mario 4s infinite linear;
}
