/* ! ======== ! */
/* ! RESETING ! */
/* ! ======== ! */

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.cuerpo * {
    z-index: 1;
}

a {
    text-decoration: none;
}

/* ! ======= ! */
/* ! PORTADA ! */
/* ! ======= ! */
.fondo {
    position: relative;
    margin-bottom: 0;
    z-index: 1;
}

.fondo img:last-child {
    width: 100%;
}

.fondo h1 {
    position: absolute;
    font-size: 5vw;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 100%;
    color: #2ca243;
    -webkit-text-stroke: 1px black;
    z-index: 1;
    text-align: center;
    margin-top: 9%;
}

.oscuro {
    position: absolute;
    background-color: black;
    z-index: 1;
    width: 100%;
    height: 82.4%;
    opacity: 30%;
}

.consolas {
    position: absolute;
    display: flex;
    top: 44.5%;
    z-index: 1;
    width: 90%;
    margin-inline: auto;
}

.consolas img {
    width: 100%;
    max-width: 70%;
    margin-left: 33%;
    transition: max-width 0.4s, margin-bottom 0.4s;
}

.consolas img:hover {
    max-width: 60%;
    margin-bottom: 5.5%;
    transition: max-width 0.4s, margin-bottom 0.4s;
}

.consolas h2 {
    text-align: center;
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    margin-left: 30%;
}

.consola1 {
    margin-right: 5%;
}

.consola2 {
    margin-left: 5%;
}

/* ! ========= ! */
/* ! CARROUSEL ! */
/* ! ========= ! */
.slider_container {
    width: 80%;
    overflow: hidden;
    margin: 12px auto;
    position: relative;
}

.slider {
    display: flex;
    transition: all 1000ms ease-in-out;
    position: relative;
}

.slider img {
    flex: 1;
    max-width: 100%;
    position: relative;
}

.fa-solid {
    position: absolute;
    display: block;
    top: 50%;
    margin-inline: 30px;
    font-size: 54px;
    color: #f8f8f8;
}

.fa-solid:hover {
    cursor: pointer;
}

.fa-forward {
    right: 0%;
}

/* ! ======== ! */
/* ! TARJETAS ! */
/* ! ======== ! */

h1 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    font-size: 4vw;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
    margin-inline: 2%;
    padding-bottom: 120px;
}

.categoria {
    margin: 0;
    border: 2px solid #2ca243;
    border-radius: 4%;
    overflow: hidden;
    transition: transform 0.3s;
    background-color: #2ca243;
}

.categoria img {
    width: 100%;
    height: auto;
}

.categoria h3 {
    text-align: center;
    color: black;
    margin: 0;
    padding: 10px;
}

.categoria:hover {
    transform: translateY(-20px);
}

/* CARROUSEL */
.carrousel_container {
    width: 90%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.carrousel_container img {
    height: 12px;
}

.controles:hover {
    cursor: pointer;
}

/* ! ========== ! */
/* ! Accesorios ! */
/* ! ========== ! */

h1:nth-child(5) {
    margin-block: 0px;
    padding-bottom: 5%;
    background: linear-gradient(to top, #bbbbbb, #fff);
}

.accesorios {
    background-color: #bbbbbb;
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
}

.accesorio {
    position: relative;
    display: inline-block;
    width: 20vw;
    height: 25vw;
    margin-inline: 5%;
}

.accesorio .front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 5px 10px #000;
}

.accesorio .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accesorio .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    transform: perspective(1000px) rotateY(180deg);
    background-color: white;
    padding: 15px;
    text-align: justify;
    font-size: 1vw;
}

.accesorio:hover .front {
    transform: perspective(1000px) rotateY(-180deg);
}

.accesorio:hover .back {
    transform: perspective(1000px) rotateY(0deg);
}