/* ! =============== !  */
/* ! FUENTES Y RESET !  */
/* ! =============== !  */
@import url('/css/reseting.css');
@import url('/css/generic.css');

/* ! ================ ! */
/* ! REMOVE SCROLLBAR ! */
/* ! ================ ! */
body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* ! ====== ! */
/* ! CUERPO ! */
/* ! ====== ! */
.cuerpo {
    width: 100vw;
    height: 100vh;
    background-image: url('/images/images_nintendo/main/Mario_Bros_Background_V2.webp');
    background-size: cover;
    background-position: center;
}

/* ! ================== ! */
/* ! TARJETAS CONTAINER ! */
/* ! ================== ! */
.tarjetas__container {
    width: 90vw;
    height: 70vh;
    margin: auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    gap: 4vw;
}

/* ! ======================== ! */
/* ! COLUMNAS DE LAS TARJETAS ! */
/* ! ======================== ! */
.columna_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    height: 50%;
    margin: 0 auto;
    position: relative;
    width: 400px;
}

/* ! =============== ! */
/* ! BLOQUE SORPRESA ! */
/* ! =============== ! */
.bloque {
    width: 50%;
    margin: 0 auto;
}

.bloque:hover {
    cursor: pointer;
}

/* ! ======== ! */
/* ! TARJETAS ! */
/* ! ======== ! */
.card {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
}

.card i {
    margin: 0 auto;
    font-size: 32px;
    color: var(--font-color-black);
    padding: 0;
}

.card img {
    width: 100%;
    border-radius: 20px;
}

.card a {
    text-align: center;
    color: var(--blanco-sucio);
    font-size: 30px;
    text-shadow: 2px 1px var(--xbox-juegos-bg);
}

/* ! ============ ! */
/* ! CLASE ACTIVO ! */
/* ! ============ ! */
.activo {
    display: flex;
}

/* ! ========== ! */
/* ! MARIO BROS ! */
/* ! ========== ! */
.mario__container img {
    width: 60px;
    animation: mario_bros 4s linear infinite;
    position: absolute;
}

@keyframes mario_bros {
    0% {
        left: 0;
        bottom: 6%;
    }
    40% {
        left: 40%;
        bottom: 6%;
    }
    48% {
        left: 48%;
        bottom: 20%;
    }
    55% {
        left: 55%;
        bottom: 6%;
    }
    100% {
        left: 96%;
        bottom: 6%;
    }
}

/* =========================================== */
/* ============== MEDIA QUERIES ============== */
/* =========================================== */

/* ! ======================================= ! */
/* ! ============ TAMAÑO TABLET ============ ! */
/* ! ======================================= ! */
@media (768px <= width <= 1024px) {
    .tarjetas__container {
        width: 100vw;
        flex-flow: row wrap;
    }

    .columna_container {
        justify-content: center;
        width: 360px;
    }

    .bloque {
        display: none;
    }

    .card {
        display: flex;
    }

    .card i {
        display: none;
    }

    @keyframes mario_bros {
        0% {
            left: 0;
            bottom: 6%;
        }
        38% {
            left: 38vw;
            bottom: 6%;
        }
        48% {
            left: 48vw;
            bottom: 18%;
        }
        56% {
            left: 56vw;
            bottom: 6%;
        }
        100% {
            left: 100vw;
            bottom: 6%;
        }
    }
}

/* ! ====================================== ! */
/* ! ============ TAMAÑO MÓVIL ============ ! */
/* ! ====================================== ! */
@media (360px <= width <= 400px) {
    .cuerpo {
        width: 100vw;
        height: fit-content;
        background-image: url('/images/images_nintendo/main/Mario_Bros_Background_Movil.webp');
        background-size: cover;
        background-position: center;
    }

    .tarjetas__container {
        flex-flow: row wrap;
        height: 100%;
    }

    .card {
        margin-bottom: 16px;
    }

    .bloque {
        display: none;
    }

    .card {
        display: flex;
    }

    .card i {
        display: none;
    }

    #aventura a {
        color: var(--font-color-black);
        text-shadow: var(--blanco-sucio);
    }

    .mario__container {
        display: none;
    }
}
